PORT=4000

DATABASE_URL="postgresql://johndoe:randompassword@localhost:6543/mydb?pgbouncer=true"
DIRECT_URL="postgresql://johndoe:randompassword@localhost:5432/mydb"


JWT_SECRET="seu_secret_para_access_token"
JWT_REFRESH_SECRET="seu_secret_para_refresh_token"
